@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #555;
}

img {
    border: 0;
}

body {
    font: 12px/1.6 'Poiret One', cursive;
}

/*레이아웃*/

header {
    position: fixed;
    width: 15%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

nav {
    position: relative;
    width: 85%;
    background: #212121;
    margin-left: 15%;
    height: 35px;
    transition: all 0.5s;
}

section {
    width: 85%;
    position: relative;
    margin-left: 15%;
}

article {
    float: left;
    height: 260px;
    animation: scale 1s 1;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

article:nth-child(1) {
    width: 60%;
    height: 520px;
    background: #ccc;
}

article:nth-child(2) {
    width: 40%;
    background: #bbb;
}

article:nth-child(3) {
    background: #aaa;
    width: 20%;
}

article:nth-child(4) {
    background: #999;
    width: 20%;
}

article:nth-child(5) {
    background: #888;
    width: 20%;
}

article:nth-child(6) {
    background: #777;
    width: 40%;
}

article:nth-child(7) {
    background: #666;
    width: 20%;
}

article:nth-child(8) {
    background: #555;
    width: 20%;
}

article:nth-child(9) {
    background: #444;
    width: 40%;
}

article:nth-child(10) {
    background: #333;
    width: 20%;
}

article:nth-child(11) {
    background: #222;
    width: 20%;
}

article:nth-child(12) {
    background: red;
    width: 20%;
}

/*header contents*/
header h1 {
    width: 180px;
    height: 136px;
    background: url(../img/) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -90px;
    text-indent: -9999px;
}

ul#gnb {
    position: absolute;
    top: 300px;
    right: 57px;
}

ul#gnb li {}

ul#gnb li a {
    display: block;
    padding: 8px 30px;
    font-size: 17px;
    font-weight: bold;
    color: #555;
    text-align: left;
    line-height: 1.8;
    transition: all .5s;
}

ul#gnb li a:hover {color: skyblue;}

ul#gnb li a i {margin-right: 13px;}

.snsSet {width: 92px; height: 47px; position: absolute; bottom: 50px; right: 50%; margin-right: -45px; }

.snsSet a{float: left;}

/*nav content*/
nav{}
nav a:nth-child(1){position: absolute; top: 5px; left: 10px;}
nav a:nth-child(2){position: absolute; top: 5px; left: 150px;}
nav a:nth-child(3){position: absolute; top: 5px; right: 90px;}
nav a:nth-child(4){position: absolute; top: 5px; right: 10px;}

article>div{
    position: relative; width: 100%; height: 100%; overflow: hidden;
    cursor: pointer;
}
/*bg image insert*/
article .bg1{background-image: url(../img/pic1.jpg);}
article .bg2{background-image: url(../img/pic2.jpg);}
article .bg3{background-image: url(../img/pic3.jpg);}
article .bg4{background-image: url(../img/pic4.jpg);}
article .bg5{background-image: url(../img/pic5.jpg);}
article .bg6{background-image: url(../img/pic6.jpg);}
article .bg7{background-image: url(../img/pic7.jpg);}

/*img box*/
article .bg{background-size: cover; background-position: center center;}
article .bg span{font-size: 60px; color: #fff; position: absolute; bottom: 0; right: 20px; transform: scale(10); opacity: 0; transition: all .6s;}
article .bg1 span{font-size: 170px; bottom: -76px; right: -6px; opacity: 1; transform: scale(1); transition: all .5s;}

/*img box hover*/
article:hover .bg span{transform: scale(1); opacity: 1;}
article .bg1:hover span{color: #222; transform: rotateY(360deg);}

/*txt box*/
article .txt{color: #555; background: #fff; box-sizing: border-box; padding: 40px 30px; transition: all 1s;}

article:nth-child(3) .txt{
    background: #d0a6ff;
}
article:nth-child(11) .txt{
    background: #e3f1fb;
}
article .txt i{color: #b2effc; font-size: 300px; position: absolute; bottom: -70px; right: -200px; opacity: 0; transition: all .7s;}

article:nth-child(3) .txt i{position: absolute; bottom: -20px; right: -15px; font-size: 200px; color: #fff; opacity: 0.7;}

article .txt strong{font-size: 30px; font-weight: normal; line-height: 1.6; color: #444; margin-bottom: 20px; transition: all 1s;}

/*txt box hover*/
article:hover .txt{background: #8722f8; color: #fff;}
article:hover .txt i{right: 0; opacity: 0.5;}
article:hover .txt strong{color: #fff;}

@media screen and (min-width:1280px) and (max-width:1599px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }

    nav {
        width: 100%;
        margin-left: 0;
    }

    section {
        width: 100%;
        margin-left: 0;
    }
    /*header contents*/
    header h1{
        width: 200px; height: 40px;
        background-image: url(../img/logo2.png); top: 20px; left: 20px; margin-left: 0;
    }
    ul#gnb{top: 20px; right: 200px;}
    ul#gnb li{float: left;}
    .snsSet{bottom: 20px; right: 80px;}
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }

    nav {
        width: 100%;
        margin-left: 0;
    }

    section {
        width: 100%;
        margin-left: 0;
    }

    article:nth-child(1) {
        width: 75%;
    }

    article:nth-child(2) {
        width: 25%;
    }

    article:nth-child(3) {
        width: 25%;
    }

    article:nth-child(4) {
        width: 25%;
    }

    article:nth-child(5) {
        width: 25%;
    }

    article:nth-child(6) {
        width: 50%;
    }

    article:nth-child(7) {
        width: 50%;
    }

    article:nth-child(8) {
        width: 25%;
    }

    article:nth-child(9) {
        width: 25%;
    }

    article:nth-child(10) {
        width: 50%;
    }

    article:nth-child(11) {
        width: 25%;
    }

    article:nth-child(12) {
        width: 25%;
    }
    header h1{
    width: 200px; height: 40px;
    background-image: url(../img/logo2.png); top: 20px; left: 20px; margin-left: 0;
    }
    ul#gnb{top: 20px; right: 30px;}
    ul#gnb li{float: left;}
    .snsSet{display: none;}
}

@media screen and (min-width:780px) and (max-width:1023px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }

    nav {
        width: 100%;
        margin-left: 0;
    }

    section {
        width: 100%;
        margin-left: 0;
    }

    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }

    article:nth-child(2) {
        width: 66.66%;
    }

    article:nth-child(3) {
        width: 33.33%;
    }

    article:nth-child(4) {
        display: none;
    }

    article:nth-child(5) {
        width: 33.33%;
    }

    article:nth-child(6) {
        width: 66.66%;
    }

    article:nth-child(7) {
        display: none;
    }

    article:nth-child(8) {
        width: 33.33%;
    }

    article:nth-child(9) {
        width: 33.33%;
    }

    article:nth-child(10) {
        display: none;
    }

    article:nth-child(11) {
        width: 33.33%;
    }

    article:nth-child(12) {
        display: none;
    }
    header h1{
    width: 200px; height: 40px;
    background-image: url(../img/logo2.png); top: 20px; left: 20px; margin-left: 0;
    }
    ul#gnb{top: 20px; right: 10px;}
    ul#gnb li{float: left;}
    ul#gnb li a{padding: 10px 10px;}
    .snsSet{display: none;}
}

@media screen and (min-width:640px) and (max-width:779px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }

    nav {
        width: 100%;
        margin-left: 0;
    }

    section {
        width: 100%;
        margin-left: 0;
    }

    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }

    article:nth-child(2) {
        width: 100%;
    }

    article:nth-child(3) {
        display: none;
    }

    article:nth-child(4) {
        display: none;
    }

    article:nth-child(5) {
        width: 50%;
    }

    article:nth-child(6) {
        width: 50%;
    }

    article:nth-child(7) {
        display: none;
    }

    article:nth-child(8) {
        width: 50%;
    }

    article:nth-child(9) {
        width: 50%;
    }

    article:nth-child(10) {
        display: none;
    }

    article:nth-child(11) {
        width: 50%;
    }

    article:nth-child(12) {
        width: 50%;
    }
    header h1{
    width: 200px; height: 40px;
    background-image: url(../img/logo2.png); top: 20px; left: 20px; margin-left: 0;
    }
    ul#gnb{top: 20px; right: 10px;}
    ul#gnb li{float: left; }
    ul#gnb li a{padding: 10px 10px;}
    .snsSet{display: none;}
}

@media screen and (min-width:480px) and (max-width:639px) {
    header {
        position: relative;
        width: 100%;
        height: 130px;
    }

    nav {
        display: none;
    }

    section {
        width: 100%;
        margin-left: 0;
    }

    article {
        height: 150px;
    }

    article:nth-child(1) {
        width: 100%;
        height: 300px;
    }

    article:nth-child(2) {
        width: 100%;
    }

    article:nth-child(3) {
        display: none;
    }

    article:nth-child(4) {
        display: none;
    }

    article:nth-child(5) {
        width: 50%;
    }

    article:nth-child(6) {
        width: 50%;
    }

    article:nth-child(7) {
        display: none;
    }

    article:nth-child(8) {
        width: 50%;
    }

    article:nth-child(9) {
        width: 50%;
    }

    article:nth-child(10) {
        display: none;
    }

    article:nth-child(11) {
        width: 50%;
    }

    article:nth-child(12) {
        width: 50%;
    }
    header h1{ position: relative;
    width: 200px; height: 45px;
    background-image: url(../img/logo2.png); top: 20px; left: 0; margin: 0 auto;
    }
    ul#gnb{width: 100%; height: 40px; top: 80px; right: 0;}
    ul#gnb li{float: left; width: 25%;}
    ul#gnb li a{padding: 4px; text-align: center; }
    .snsSet{display: none;}
    
    article .bg1 span{font-size: 120px; bottom: -50px;}
    article .txt strong{font-size: 25px;}
    article .txt em{display: none;}
}

@media screen and (max-width:479px) {
    header {
        position: fixed;
        width: 100%;
        height: 40px;
        background: transparent;
        z-index: 5;
    }

    nav {
        display: none;
    }

    section {
        width: 100%;
        margin-left: 0;
        z-index: 4;
    }

    article {
        display: none;
    }

    article:nth-child(1) {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    header h1{
    width: 140px; margin-left: -70px; top: 20px;
    }
    ul#gnb{width: 250px; top: 140px; right: 50%; margin-right: -125px;}
    ul#gnb li a{width: 100%; background: #000; box-sizing: border-box; margin: 8px 0; border-radius: 10px; color: #fff; opacity: 0.5;
    }
    ul#gnb li a:hover{opacity: 1; transform: scale(1.1);}
    article:nth-child(1) span{display: none;}
}
