@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* font-family: 'Frank Ruhl Libre', serif; font-family: 'Roboto', sans-serif; font-family: 'Fredericka the Great', cursive; font-family: 'Mrs Saint Delafield', cursive;*/

html, body {width: 100%; background: url(../img/main-1.png) no-repeat center; background-size: cover; background-attachment: fixed; position: relative; /* overflow: hidden;  */height: 100vh;}
.header-wrapper {width: 100%; overflow: hidden;}
.header-wrapper .bg-image {width: 75%; background: url(../img/main-3.png) no-repeat center; background-size: cover; background-attachment: fixed; position: absolute; height: 100vh;} 
.header-wrapper .bg-cover {width: 75%; height: 100vh; background-color: #f86953; opacity: 0.8;}
.header-wrapper .header-top {width: 100%; top: 0; left: 0; display: flex; justify-content: space-between; align-items: center; position: fixed; z-index: 9999;}
.header-wrapper .header-top .top-left {width: 90%; display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0;}
.header-top .right-wrap img {width: 150px; height: auto; padding: 10px;}
.header-top .left-wrap {display: flex; justify-content: flex-end; align-items: center;}
.header-top .left-wrap .icon-wrap {color: #f8f8f8; font-size: 2vw;}
.header-top .left-wrap i {padding-left: 0.25em; cursor: pointer;}
.header-top .top-right {display: flex; width: 10%; cursor: pointer; position: fixed; right: 0; top: 0; height: 100px; justify-content: center; align-items: center;}
.header-top .top-right .bar-box {width: 50%; height: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.header-top .bar-wrap1 {width: 50%; background-color: #f8f8f8; height: 2px;  transition: transform 0.5s; transform: translateY(-6px);}
.header-top .bar-wrap2 {width: 50%; background-color: #f8f8f8; height: 2px;  transition: transform 0.5s; transform: translateY(6px);}
.header-top .top-right .bar-box:hover .bar-wrap1 {transform: rotate(45deg) translateY(0);}
.header-top .top-right .bar-box:hover .bar-wrap2 {transform: rotate(-45deg) translateY(0);}


/* ******** moon******************* */
.moon {position: absolute; top: 20%; left: 66%; animation-name: aniMoon; animation-duration: 0.5s;}
.moon img {width: 26vw; height: auto;}
.moon .line {width: 26vw; height: auto; border-radius: 50%; border: 2px solid #f8f8f8; border-right: 2px solid #404248; transform: rotate(45deg);}

@keyframes aniMoon {
	0% {left: 100%;}
	100% {left: 66%;}
}


/* ******** main ******************* */
.main {width: 100%; position: relative; position: absolute; top: 30%; left: 0; font-size: 10vw; display: flex; justify-content: center;}
.main img {width: 10vw; height: auto; border: 1px solid #f8f8f8; border-radius: 50%; height: 10vw; opacity: 1; animation-name: aniSmoon; animation-duration: 2s;}
.main .name {font-size: 4vw; color: #313642; letter-spacing: -0.065em; position: absolute; left: 47%; top: -12%; animation: animated-text 3s steps(50,end) 3s 1 normal both; overflow: hidden;}
.main .port-p {font-size: 10vw; color: #313642; font-family: 'Frank Ruhl Libre', serif; text-align: center; display: flex; justify-content: center; align-items: center; width: 80%;}
.main .port-p .portfolio {display: flex; justify-content: center; align-items: center; animation-name: aniPort; animation-duration: 2s;}
.main .port-p .portfolio div { margin: 0 4px}
.main .line {width: 43%; height: 5%; border-bottom: 1px solid #f8f8f8; position: absolute; left: 33%; top: 70%;}
.main .web {font-size: 5vw; font-family: 'Frank Ruhl Libre', serif; color: #f8f8f8; left: 55%; position: absolute; top: 66%; animation-name: aniWeb; animation-duration: 0.5s;}
.main .develop {font-size: 3.5vw; color: #f8f8f8; left: 45%; position: absolute; top: 98%; animation-name: aniDev; animation-duration: 1s;}
.main .design {font-size: 3.5vw; color: #f8f8f8; left: 50%; position: absolute; top: 119%; animation-name: aniDes; animation-duration: 0.2s;}
.main .and {position: absolute; top: 50%; left: 65.2%; font-size: 11vw; font-family: 'Frank Ruhl Libre', serif; color: #313642; animation-name: aniAnd; animation-duration: 0.5s;}

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes aniSmoon {
	0% {opacity: 0;}
	100% {opacity: 1; transform: rotate(360deg);}
}
@keyframes aniPort {
	0% {margin-left: -100%;}
	100% {left: 0;}
}
@keyframes aniWeb {
	0% {margin-left: -100%;}
	100% {left: 55%;}
}
@keyframes aniDev {
	0% {margin-left: -100%;}
	100% {left: 45%;}
}
@keyframes aniDes {
	0% {margin-left: -100%;}
	100% {left: 50%;}
}
@keyframes aniAnd {
	0% {margin-top: -100%;}
	100% {top: 50%;}
}



/* ******** scroll-bar ******************* */
.scroll-wrap {width: 2%; position: absolute; top: 40%; left: 0; cursor: pointer; position: fixed; z-index: 9999;}
.scroll-wrap .bar1 {background-color: #f8f8f8; transition: all 0.3s; padding-bottom: 0.25em; margin-bottom: 2.5em;}
.scroll-wrap .bar2 {background-color: #f8f8f8; transition: all 0.3s; padding-bottom: 0.25em; margin-bottom: 2.5em;}
.scroll-wrap .bar3 {background-color: #f8f8f8; transition: all 0.3s; padding-bottom: 0.25em; margin-bottom: 2.5em;}
.scroll-wrap .bar4 {background-color: #f8f8f8; transition: all 0.3s; padding-bottom: 0.25em; margin-bottom: 2.5em;}

/*
.scrollbar-down {width: 3%; position: absolute; top: 40%; left: 0; cursor: pointer;}
.scroll-wrap .bar1 {width: 150%; height: 1%; border-bottom: 1px solid #f8f8f8; padding-bottom: 1em;}
.scroll-wrap .bar2 {width: 100%; height: 1%; border-bottom: 1px solid #f8f8f8; padding-bottom: 1em;}
.scroll-wrap .bar3 {width: 100%; height: 1%; border-bottom: 1px solid #f8f8f8; padding-bottom: 1em;}
.scroll-wrap .bar4 {width: 100%; height: 1%; border-bottom: 1px solid #f8f8f8; padding-bottom: 1em;} */


/* ******** scroll-down ******************* */
.scroll-down {width: 7%; position: relative; bottom: 10%; left: 0;}
.scroll-down .text {font-size: 1em; color: #f8f8f8; font-weight: 400; transform: rotate(90deg); position: absolute; top: 0; left: 0; font-family: 'Frank Ruhl Libre', serif;}
.scroll-down .box {width: 30%; border-bottom: 1px solid #f8f8f8; height: 2%; transform: rotate(90deg); position: absolute; left: 26%; bottom: 0;}



/* ********************menu-page***************** */
.menu-wrap {width: 100%; height: 100vh; background-color: #f86953;  display: none; position: absolute; top: 0; }
.menu-wrap .contents {display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative;  height: 100%; width: 100%;}
.menu-wrap .contents .menus {font-size: 6vw; color: #f8f8f8; text-align: center;  position: relative; overflow: hidden; cursor: pointer;}
.menu-wrap .contents .menus .line {width: 0; height: 8%; background-color: #f8f8f8; position: absolute; top: 50%;}
.menu-wrap .contents .menus div {transition: all 0.3s; width: 100%; animation-name: ani; animation-duration: 1s; letter-spacing: 0.125em;}
.menu-wrap .contents div:hover .line {width: 100%;}

@keyframes ani {
	0% {transform: translateY(100px);}
	100% {transform: translateY(0);}
}


/* ********************aboutme***************** */
.about-wrap {width: 100%; position: relative; overflow: hidden; height: 100vh; /* display: none; */ background-image: url(../img/main-1.png); background-size: cover;}
.about-wrap .about-small {width: 75%; background: url(../img/About2.png) no-repeat center; background-size: cover; background-attachment: fixed; position: absolute; height: 100vh; right: 0; animation-name: about; animation-duration: 2s;}
.about-wrap .moon2 {position: absolute; top: 22%; left: 10%; animation-name: Moon2; animation-duration: 2s;}
.about-wrap .moon2 img {width: 26vw; height: auto;}
.about-wrap .moon2 .line {width: 26vw; height: auto; border-radius: 50%; border: 2px solid #f8f8f8; border-right: 2px solid #404248; transform: rotate(45deg);}
.about-wrap .about-small .txt {display: flex; flex-direction: column; justify-content: center; align-items: flex-end; position: relative; font-family: 'Roboto', sans-serif; right: 5vw; top: 10%; animation-name: txt; animation-duration: 1s;}
.about-wrap .about-small .txt .title-about {font-size: 12vw; color: #f8f8f8;}
.about-wrap .about-small .txt .title-me {font-size: 12vw; color: #f8f8f8; top: 1em; position: absolute;}
.about-wrap .about-small .msg {font-size: 1.5em; position: absolute; top: 17em; right: 0.25em; font-family: 'Frank Ruhl Libre', serif; color: #f8f8f8;}

.about-wrap .show-me {position: absolute; bottom: 6em; right: 30vw; animation-name: show; animation-duration: 1s;}
.about-wrap .show-me .show-line {position: absolute; width: 30vw; background-color: #f8f8f8; height: 1px; position: absolute; top: 50%; right: -30vw;}
.about-wrap .show-me .show-bg {width: 140px; height: 30px; border-radius: 25px; border: 1px solid #313642; display: flex; justify-content: flex-end; align-items: center; font-size: 0.875em; background-color: #313642; color: #f86953; padding-right: 0.75em; cursor: pointer; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3); right: 0;}
.about-wrap .show-me .show-bg .circle {width: 4em; height: 4em; border-radius: 50%; border: 1px solid #f86953; background-color: #f86953; color: #f8f8f8; position: absolute; left: 1.5em; text-align: center; font-size: 4px; line-height: 15px; transition: all 0.5s; margin-left: 1em;}
.about-wrap .show-me .show-bg .circle i {cursor: pointer; font-size: 0.5vw;}
.about-wrap .show-me .show-bg:hover .circle {transform: scale(1.1);}
.about-wrap .about-bg .number {font-size: 12vw; position: absolute; top: 50%; left: 28%; font-family: 'Frank Ruhl Libre', serif; letter-spacing: -0.125em; z-index: 1; animation-name: num; animation-duration: 2s;}

@keyframes Moon2 {
	0% {left: 100%}
	100% {right: 10%;}
}
@keyframes about {
	0% {right: -100%;}
	100% {right: 0;}
}
@keyframes txt {
	0% {right: -100%;}
	100% {right: 5vw;}
}
@keyframes show {
	0% {right: -100%;}
	100% {right: 30vw;}
}
@keyframes num {
	0% {left: 150%;}
	100% {left: 28%;}
}




/* ***************page 01*************** */
.who {width: 100%; background-color: #f8f8f8; /* display: none; */}
.who .top-who {width: 100%; display: flex; padding-top: 1.125em; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.who .top-who .line01 {width: 50px; height: 5px; background-color: #111;}
.who .top-who .number {padding: 0 0.25em;}
.who .top-who .small-title {padding: 0 0.5em; color: #d7d7d7;}
.who .bottom {width: 100%; display: flex; justify-content: center; align-items: center;}
.who .bottom-who {display: flex; justify-content: center; padding: 1em; width: 70%; margin-top: 2em;}
.who .bottom-who .img {padding: 0 1em; position: relative; width: 35%;}
.who .bottom-who .img-bg {width: 18vw; height: 19vw; background-color: #f86953; opacity: 0.5; position: absolute; top: 1.25em; left: 3em;}
.who .bottom-who .img img {width: 18vw; height: auto; opacity: 0.8;}
.who .bottom-who .intro-text {display: flex; flex-direction: column; justify-content: space-between; padding-left: 1em;}
.who .bottom-who .intro-text .name {font-size: 5vw; font-family: 'Fredericka the Great', cursive; color: #f86953; letter-spacing: -0.125em; width: 65%;}
.who .bottom-who .intro-text .intro {font-size: 1.25vw; font-family: 'Roboto', sans-serif;}
.who .bottom-who .myself {font-family: 'Mrs Saint Delafield', cursive; font-size: 2.5vw; display: flex; justify-content: flex-end; text-decoration: underline;}

.who .pass {width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 1.5em;}
.who .top-pass {width: 100%; display: flex; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.who .top-pass .line02 {width: 50px; height: 5px; background-color: #111;}
.who .top-pass .number {padding: 0 0.25em;}
.who .top-pass .small-title {padding: 0 0.5em; color: #d7d7d7;}
.who .bottom {width: 100%; display: flex; justify-content: center; align-items: center;}
.who .pass .know {width: 70%; display: flex; justify-content: center; align-items: center;}
.who .pass .part {display: flex; justify-content: center; flex: 33.3333% 0 0; align-items: center; flex-direction: column;}
.who .pass .part img {width: 4vw; height: auto; margin-bottom: 1.25em; color: #f86953;}
.who .pass .part .tech {width: 6vw; height: auto;}
.who .pass .part .sector {font-size: 1.5vw; letter-spacing: -1px; font-family: 'Frank Ruhl Libre';}


/* *********page 02******** */
.skills {width: 100%; background-color: #f8f8f8; /* display: none; */}
.skills .top-skills {width: 100%; display: flex; padding-top: 0em; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.skills .top-skills .line03 {width: 50px; height: 5px; background-color: #111;}
.skills .top-skills .number {padding: 0 0.25em;}
.skills .top-skills .small-title {padding: 0 0.5em; color: #d7d7d7;}
.skills .skill-box {width: 100%; display: flex; justify-content: center; align-items: center; margin: 0.75em 0;}
.skills .skill-wrap {padding: 0.5em 0;}
.skills .skill-box .skills {width: 70%; display: flex; justify-content: space-between; align-items: center; padding: 0.5em 0;}
.skills .skill-box .skills .type {width: 20%; display: flex; justify-content: flex-start; align-items: center; font-family: 'Roboto', sans-serif; font-size: 1.25vw; font-weight: 500;}
.skills .skill-box .skills .names {width: 40%; display: flex; justify-content: flex-start; align-items: center; font-family: 'Roboto', sans-serif; font-size: 1.25vw;}
.skills .skill-box .skills .s-percent {width: 40%; display: flex; justify-content: flex-start; align-items: center;}
.skills .skill-box .skills .s-percent .main-box {width: 100%; display: flex; justify-content: flex-start; align-items: center; border: 1px solid #f86953;}
.skills .skill-box .skills .s-percent .main-box .box {width: 10%; border: 1px solid #f8f8f8; background-color: #f86953; height: 0.335em; animation-name: per; animation-duration: 1s;}

@keyframes per {
	0% {width: 0;}
	100% {width: 10%;}
}

.skills .skills-bottom {width: 100%; background-color: #10131a;}
.skills .skills-bottom .bg {font-size: 1em; color: #f8f8f8; padding: 2em 0; text-align: center;}
.skills .lang-line {width: 100%; display: flex; justify-content: center; align-items: center; }
.skills .lang-line div {width: 60%; height: 1px; background-color: #ddd;}



/* ********************works********************** */
.works-wrap {width: 100%; position: relative; overflow: hidden; height: 100vh; /* display: none; */ background-image: url(../img/main-1.png); background-size: cover;}
.works-wrap .works-small {width: 75%; background: url(../img/works.png) no-repeat center; background-size: cover; background-attachment: fixed; position: absolute; height: 100vh; right: 0; animation-name: works; animation-duration: 2s;}
.works-wrap .moon2 {position: absolute; top: 22%; left: 10%; animation-name: Moon2; animation-duration: 2s;}
.works-wrap .moon2 img {width: 26vw; height: auto;}
.works-wrap .moon2 .line {width: 26vw; height: auto; border-radius: 50%; border: 2px solid #f8f8f8; border-right: 2px solid #404248; transform: rotate(45deg);}
.works-wrap .works-small .txt {display: flex; flex-direction: column; justify-content: center; align-items: flex-end; position: relative; font-family: 'Roboto', sans-serif; right: 7vw; top: 15%; animation-name: txt; animation-duration: 2s;}
.works-wrap .works-small .txt .title-wo {font-size: 14vw; color: #f8f8f8; position: absolute; top: 0; left: 38%;}
.works-wrap .works-small .txt .title-rks {font-size: 14vw; color: #f8f8f8; top: 0.875em; position: absolute;left: 56%;}
.works-wrap .show-me {position: absolute; bottom: 6em; right: 30vw; animation-name: show; animation-duration: 2s;}
.works-wrap .show-me .show-line {position: absolute; width: 30vw; background-color: #f8f8f8; height: 1px; position: absolute; top: 50%; right: -30vw;}
.works-wrap .show-me .show-bg {width: 140px; height: 30px; border-radius: 25px; border: 1px solid #f86953; display: flex; justify-content: flex-end; align-items: center; font-size: 0.875em; background-color: #f86953; color: #f8f8f8; padding-right: 0.75em; cursor: pointer; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3); right: 0;}
.works-wrap .show-me .show-bg .circle {width: 4em; height: 4em; border-radius: 50%; border: 1px solid #f8f8f8; background-color: #f8f8f8; color: #f8f8f8; position: absolute; left: 1.5em; text-align: center; font-size: 4px; line-height: 15px; transition: all 0.5s; margin-left: 1em;}
.works-wrap .show-me .show-bg .circle i {cursor: pointer; font-size: 0.5vw; color: #f86953;}
.works-wrap .show-me .show-bg:hover .circle {transform: scale(1.1);}
.works-wrap .works-bg .number {font-size: 12vw; position: absolute; top: 50%; left: 28%; font-family: 'Frank Ruhl Libre', serif; letter-spacing: -0.125em; z-index: 1; color: #f8f8f8; animation-name: num; animation-duration: 2s;}

@keyframes Moon2 {
	0% {left: 100%}
	100% {right: 10%;}
}
@keyframes works {
	0% {right: -100%;}
	100% {right: 0;}
}
@keyframes txt {
	0% {right: -100%;}
	100% {right: 7vw;}
}
@keyframes show {
	0% {right: -100%;}
	100% {right: 30vw;}
}
@keyframes num {
	0% {left: 150%;}
	100% {left: 28%;}
}


/* **********work-wrap************* */
.work-wrap {width: 100%; display: flex; flex-direction: column;}
.work-wrap .publishing {width: 100%; border: 1px solid red; background-color: #f8f8f8; padding-top: 1.125em;}
.work-wrap .publishing .top-publish {width: 100%; display: flex; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.work-wrap .publishing .top-publish .line01 {width: 50px; height: 5px; background-color: #111;}
.work-wrap .publishing .top-publish .number {padding: 0 0.25em;}
.work-wrap .publishing .top-publish .small-title {padding: 0 0.5em; color: #d7d7d7;}
.work-wrap .publishing .main-publish {width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 2em;}
.work-wrap .publishing .main-publish .sample {width: 70%; border: 1px solid green; padding: 15em;}

.work-wrap .frontend {width: 100%; border: 1px solid red; background-color: #f8f8f8; padding-top: 1.125em;}
.work-wrap .frontend .top-front {width: 100%; display: flex; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.work-wrap .frontend .top-front .line01 {width: 50px; height: 5px; background-color: #111;}
.work-wrap .frontend .top-front .number {padding: 0 0.25em;}
.work-wrap .frontend .top-front .small-title {padding: 0 0.5em; color: #d7d7d7;}
.work-wrap .frontend .main-front {width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 2em;}
.work-wrap .frontend .main-front .sample {width: 70%; border: 1px solid green; padding: 15em;}

.work-wrap .backend {width: 100%; border: 1px solid red; background-color: #f8f8f8; padding: 1.125em 0 3em  0;}
.work-wrap .backend .top-back {width: 100%; display: flex; font-size: 4em; align-items: center; font-family: 'Frank Ruhl Libre'; font-size: 2vw;}
.work-wrap .backend .top-back .line01 {width: 50px; height: 5px; background-color: #111;}
.work-wrap .backend .top-back .number {padding: 0 0.25em;}
.work-wrap .backend .top-back .small-title {padding: 0 0.5em; color: #d7d7d7;}
.work-wrap .backend .main-back .sample {width: 70%; border: 1px solid green; padding: 15em;}
.work-wrap .backend .main-back {width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 2em;}










/* **********contact************* */
.contact-wrap {width: 100%; position: relative; overflow: hidden; height: 100vh; background-image: url(../img/main-1.png); background-size: cover; /* display: none; */}
.contact-wrap .bg-contact {width: 75%; background: url(../img/contact-bg.png) no-repeat center; background-size: cover; background-attachment: fixed; position: absolute; height: 100vh; left: 0; animation-name: bg; animation-duration: 2s;}
.contact-wrap .moon4 {position: absolute; top: 20%; right: -23%; animation-name: Moon; animation-duration: 2s;}
.contact-wrap .moon4 img {width: 26vw; height: auto;}
.contact-wrap .moon4 .line {width: 26vw; height: auto; border-radius: 50%; border: 2px solid #f8f8f8; border-right: 2px solid #404248; transform: rotate(45deg);}

.contact-wrap .title {position: absolute; left: 10%; top: 30%; font-size: 8vw; color: #f8f8f8; letter-spacing: -1px; animation-name: tit; animation-duration: 2s;}

.contact-wrap .lines {width: 10%;}
.contact-wrap .lines div {width: 5%; height: 1px; background-color: #f8f8f8; position: absolute; top: 55%; left: 12%; animation-name: line; animation-duration: 1s; animation-iteration-count: infinite;}
.contact-wrap .lines div:last-child {margin-top: 1em; left: 14%; animation-delay: 0.5s;}
.contact-wrap .email {font-size: 1vw; color: #f8f8f8; position: absolute; top: 65%; left: 12%;}
.contact-wrap .icon-wrap {font-size: 1.5vw; color: #f8f8f8; position: absolute; top: 70%; left: 12%;}
.contact-wrap .icon-wrap i {margin-right: 0.5em;}

@keyframes Moon {
	100% {right: -23%; transform: rotate(360deg);}
}
@keyframes bg {
	0% {left: -100%;}
	100% {left: 0;}
}
@keyframes tit {
	0% {left: -100%;}
	100% {left: 10%;}
}
@keyframes line {
	0% {width: 0;}
	100% {width: 5%;}
}









/* **********반응형************* */
@media screen and (max-width: 1199px) {
	.header-top .top-right {width: 10%;}
	.header-top .top-right .bar-box {width: 80%;}
	.moon img {width: 30vw; height: auto;}
	.moon .line {width: 30vw; height: auto;}
	.main {font-size: 10vw;}
	.header-top .left-wrap i {font-size: 3vw; padding-left: 0.125em;}
	.menu-wrap .contents .menus {font-size: 8vw;}
	.about-wrap .moon2 {top: 25%; left: 5%;}
	.about-wrap .moon2 img {width: 40vw;}
	.about-wrap .moon2 .line {width: 40vw;}
	.about-wrap .about-small .txt {right: 6vw; top: 10%;}
	.about-wrap .about-small .txt .title-about {font-size: 15vw;}
	.about-wrap .about-small .txt .title-me {font-size: 15vw; top: 1em; }
	.about-wrap .about-small .msg {font-size: 1.75em; top: 14em; right: 0.25em;}
	.about-wrap .about-bg .number {font-size: 14vw; top: 55%; left: 28%;}
	.skills .skill-wrap {padding: 2em 0;}
	.works-wrap .moon2 {top: 25%; left: 5%;}
	.works-wrap .moon2 img {width: 40vw;}
	.works-wrap .moon2 .line {width: 40vw;}
	.works-wrap .works-small .txt {right: 6vw; top: 10%;}
	.works-wrap .works-small .txt .title-about {font-size: 15vw;}
	.works-wrap .works-small .txt .title-me {font-size: 15vw; top: 1em; }
	.works-wrap .works-small .msg {font-size: 1.75em; top: 14em; right: 0.25em;}
	.works-wrap .works-bg .number {font-size: 14vw; top: 55%; left: 28%;}
	.contact-wrap .moon4 {top: 20%; right: -23%;}
	.contact-wrap .moon4 img {width: 28vw;}
	.contact-wrap .moon4 .line {width: 28vw;}
	.contact-wrap .title {left: 10%; top: 30%; font-size: 8vw;}
	.contact-wrap .lines div {width: 5%; top: 50%; left: 12%;}
	.contact-wrap .email {font-size: 2vw; top: 60%; left: 12%;}
	.contact-wrap .icon-wrap {font-size: 2vw; top: 65%; left: 12%;}
	.contact-wrap .icon-wrap i {margin-right: 0.5em;}
}

@media screen and (max-width: 991px) {
	.main .port-p {width: 90%; animation: none;}
	.moon img {width: 35vw; height: auto;}
	.moon .line {width: 35vw; height: auto;}
	.main {font-size: 10vw;}
	.main .name {font-size: 6vw; color: #313642; left: 36%; top: -26%;}
	.header-top .left-wrap i {font-size: 4vw; padding-left: 0.25em;}
	.menu-wrap .contents .menus {font-size: 10vw;}
	.about-wrap .moon2 {top: 30%; left: 0;}
	.about-wrap .moon2 img {width: 45vw;}
	.about-wrap .moon2 .line {width: 45vw;}
	.about-wrap .about-small .txt {right: 6vw; top: 15%;}
	.about-wrap .about-small .txt .title-about {font-size: 15vw;}
	.about-wrap .about-small .txt .title-me {font-size: 15vw; top: 1em; }
	.about-wrap .about-small .msg {font-size: 1.5em; top: 13.5em; right: 0.25em;}
	.about-wrap .about-bg .number {font-size: 14vw; top: 55%; left: 28%;}
	.who .bottom-who {width: 80%;}
	.who .pass .know {width: 80%;}
	.skills .skill-box .skills {width: 80%;}
	.skills .skill-wrap {padding: 1em 0;}
	.wroks-wrap .moon2 {top: 30%; left: 0;}
	.wroks-wrap .moon2 img {width: 45vw;}
	.wroks-wrap .moon2 .line {width: 45vw;}
	.wroks-wrap .wroks-small .txt {right: 6vw; top: 15%;}
	.wroks-wrap .wroks-small .txt .title-wo {font-size: 15vw;}
	.wroks-wrap .wroks-small .txt .title-rks {font-size: 15vw; top: 1em; }
	.wroks-wrap .wroks-small .msg {font-size: 1.5em; top: 13.5em; right: 0.25em;}
	.wroks-wrap .wroks-bg .number {font-size: 14vw; top: 55%; left: 28%;}
}

@media screen and (max-width: 767px) {
	.header-top .top-right {width: 10%;}
	.header-top .top-right .bar-box {width: 80%;}
	.main .port-p {width: 90%; animation: none;}
	.main .port-p .portfolio {animation: none;}
	.main .port-p .portfolio img {animation: none;}
	.moon {top: 45%; left: 50%;}
	.moon img {width: 65vw; height: auto;}
	.moon .line {width: 65vw; height: auto;}
	.main {font-size: 10vw;}
	.main .name {font-size: 7vw; color: #313642; left: 36%; top: -40%; animation: none;}
	.header-top .left-wrap i {font-size: 5vw; padding-left: 0.125em;}
	.menu-wrap .contents .menus {font-size: 10vw;}
	.about-wrap .moon2 {top: 42%; left: -25%;}
	.about-wrap .moon2 img {width: 75vw;}
	.about-wrap .moon2 .line {width: 75vw;}
	.about-wrap .about-small .txt {right: 6vw; top: 20%;}
	.about-wrap .about-small .txt .title-about {font-size: 15vw;}
	.about-wrap .about-small .txt .title-me {font-size: 15vw; top: 1em; }
	.about-wrap .about-small .msg {font-size: 1.5em; top: 10em; right: 0.25em;}
	.about-wrap .about-bg .number {font-size: 22vw; top: 70%; left: 35%;}
	.about-wrap .show-me {bottom: 4em; right: 9vw;}
	.who .bottom-who {flex-direction: column;}
	.who .bottom-who .img-bg {width: 60vw; height: 61vw;}
	.who .bottom-who .img img {width: 60vw; height: auto;}
	.who .bottom-who .intro-text {margin-top: 1.5em;}
	.who .bottom-who .intro-text .name {font-size: 8vw;}
	.who .bottom-who .intro-text .intro {font-size: 3vw;}
	.who .bottom-who .myself {font-size: 5vw;}
	.who .pass .know {flex-direction: column;}
	.who .pass .part {flex: 100% 0 0; padding-bottom: 2em;}
	.who .pass .part img {width: 25vw; height: auto;}
	.who .pass .part .tech {width: 27vw; height: auto;}
	.who .pass .part .sector {font-size: 5vw;}
	.who .top-who {font-size: 6vw;}
	.who .top-pass {font-size: 6vw; padding: 1em 0;}
	.main .web {font-size: 8vw; left: 29%; top: 115%; animation: none;}
	.main .develop {font-size: 6vw; left: 11%; top: 170%; animation: none;}
	.main .design {font-size: 6vw;  left: 22%; top: 210%; animation: none;}
	.main .and {top: 88%; left: 46%; font-size: 18vw; animation: none;}
	.scroll-wrap {display: none;}
	.header-wrapper .header-top .top-left {width: 85%;}
	.header-wrapper .header-top .top-left i {font-size: 5vw;}
	.who .bottom-who {width: 90%;}
	.who .pass .know {width: 90%;}
	.skills .skill-box .skills {width: 95%;}
	.skills .skill-box .skills .type {width: 15%; font-size: 1.75vw;}
	.skills .skill-box .skills .names {width: 45%; font-size: 1.75vw;}
	.skills .skill-box .skills .s-percent {width: 40%;}
	.skills .top-skills {font-size: 6vw; padding: 0.5em 0;}
	.skills .skill-wrap {padding-bottom: 2em;}
	.works-wrap .moon2 {top: 42%; left: -25%;}
	.works-wrap .moon2 img {width: 75vw;}
	.works-wrap .moon2 .line {width: 75vw;}
	.works-wrap .works-small .txt {right: 6vw; top: 20%;}
	.works-wrap .works-small .txt .title-wo {font-size: 17vw;}
	.works-wrap .works-small .txt .title-rks {font-size: 17vw; top: 1em; }
	.works-wrap .works-small .msg {font-size: 1.5em; top: 10em; right: 0.25em;}
	.works-wrap .works-bg .number {font-size: 22vw; top: 70%; left: 35%;}
	.works-wrap .show-me {bottom: 4em; right: 9vw;}
	.contact-wrap .moon4 {top: 40%; right: -23%;}
	.contact-wrap .moon4 img {width: 45vw; height: auto;}
	.contact-wrap .moon4 .line {width: 45vw; height: auto;}
	.contact-wrap .title {left: 10%; top: 30%; font-size: 8vw;}
	.contact-wrap .lines div {width: 5%; top: 50%; left: 12%;}
	.contact-wrap .email {font-size: 2vw; top: 60%; left: 12%;}
	.contact-wrap .icon-wrap {font-size: 2vw; top: 65%; left: 12%;}
	.contact-wrap .icon-wrap i {margin-right: 0.5em;}
}

@media screen and (max-width: 575px) {
	.moon {top: 40%; left: 50%; animation: none;}
	.moon img {width: 85vw; height: auto;}
	.moon .line {width: 85vw; height: auto;}
	.menu-wrap .contents .menus {font-size: 10vw;}
	.about-wrap .moon2 {top: 40%; left: -20%;}
	.about-wrap .moon2 img {width: 70vw;}
	.about-wrap .moon2 .line {width: 70vw;}
	.about-wrap .show-me {bottom: 3em; right: 10vw;}
	.about-wrap .show-me .show-bg {width: 150px; height: 30px; font-size: 1em;}
	.about-wrap .show-me .show-bg .circle {font-size: 4px; line-height: 15px; }
	.about-wrap .show-me .show-bg .circle i {cursor: pointer; font-size: 1vw;}
	.about-wrap .show-me .show-line {width: 30vw; top: 60%; right: -30vw;}
	.about-wrap .about-small .txt .title-about {font-size: 17vw; }
	.about-wrap .about-small .txt .title-me {font-size: 17vw; top: 1em; }
	.about-wrap .about-small .msg {font-size: 1em; top: 14em; right: 0.25em;}
	.about-wrap .about-bg .number {font-size: 22vw; top: 70%; left: 40%;}
	.skills .skill-box .skills .type {width: 12%; font-size: 2vw;}
	.skills .skill-box .skills .names {width: 48%; font-size: 2vw;}
	.works-wrap .moon2 {top: 40%; left: -20%;}
	.works-wrap .moon2 img {width: 70vw;}
	.works-wrap .moon2 .line {width: 70vw;}
	.works-wrap .show-me {bottom: 3em; right: 10vw;}
	.works-wrap .show-me .show-bg {width: 150px; height: 30px; font-size: 1em;}
	.works-wrap .show-me .show-bg .circle {font-size: 4px; line-height: 15px; }
	.works-wrap .show-me .show-bg .circle i {cursor: pointer; font-size: 1vw;}
	.works-wrap .show-me .show-line {width: 30vw; top: 60%; right: -30vw;}
	.works-wrap .works-small .txt .title-wo {font-size: 20vw; left: 24%; top: 0.125em;}
	.works-wrap .works-small .txt .title-rks {font-size: 20vw; top: 1em; left:  50%;}
	.works-wrap .works-bg .number {font-size: 22vw; top: 70%; left: 40%;}
	.contact-wrap .moon4 {top: 40%; right: -60%; animation: none;}
	.contact-wrap .moon4 img {width: 70vw; height: auto;}
	.contact-wrap .moon4 .line {width: 70vw; height: auto;}
	.contact-wrap .title {left: 10%; top: 30%; font-size: 10vw;}
	.contact-wrap .lines div {width: 10%; top: 45%; left: 12%;}
	.contact-wrap .email {font-size: 2.5vw; top: 55%; left: 12%;}
	.contact-wrap .icon-wrap {font-size: 4vw; top: 60%; left: 12%;}
	.contact-wrap .icon-wrap i {margin-right: 0.25em;}
}