<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>부여 가을연꽃축제</title>
    <link rel="stylesheet" href="css/layout10.css" type="text/css">
</head>
<body>
    <div id="wrap" class="clearfix">
        <header>
            <h1>logo</h1>
            <nav>
                <ul class="gnb">
                    <li><a href="#">축제소개</a>
                        <ul class="sub">
                            <li><a href="#">초대의 글</a></li>
                            <li><a href="#">축제개요</a></li>
                            <li><a href="#">축제연혁</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li><a href="#">행사안내</a>
                        <ul class="sub">
                            <li><a href="#">셔틀버스안내</a></li>
                            <li><a href="#">행사안내</a></li>
                            <li><a href="#">행사일정</a></li>
                            <li><a href="#">소공연장</a></li>
                        </ul>
                    </li>
                    <li><a href="#">홍보마당</a>
                        <ul class="sub">
                            <li><a href="#">축제소식</a></li>
                            <li><a href="#">보도자료</a></li>
                            <li><a href="#">음식레시피</a></li>
                        </ul>
                    </li>
                    <li><a href="#">참여마당</a>
                        <ul class="sub">
                            <li><a href="#">참가후기</a></li>
                            <li><a href="#">연꽃갤러리</a></li>
                            <li><a href="#">포토갤러리</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="contents">
            <div class="main"><a href="#"></a></div>
            <div class="con clearfix">
                <section class="notice_gal">
                    <h2> 공지사항</h2>
                    <ul>
                        <li><a href="#">제17회 한국대학교 동문회장배 자선골프대회 안내문...     <span>2016-09-12</span></a></li>
                        <li><a href="#">개교 100주년 기념 야외 오페라 '토스카' 축제 초청...     <span>2016-09-10</span></a></li>
                        <li><a href="#">동문회장 및 운영위원장 후보자 추천 및 신청받습니...     <span>2016-09-09</span></a></li>
                        <li><a href="#">홈커밍데이 진행위원회(정회원) 선발 결과를 알려드...     <span>2016-09-07</span></a></li>
                        <li><a href="#">2016년도 제 3차 이사회 및 장학위원회 개최일 변경...     <span>2016-09-05</span></a></li>
                        <li><a href="#">9월12일 2016년 한국대학교 동문회 CEO Forum 개최....     <span>2016-08-30</span></a></li>
                    </ul>
                   
                </section><!--//.notice_gal-->
                <section class="gal">
                    <h2>갤러리</h2>
                     <ul class="clearfix">
                        <li><a href="#">image1</a></li>
                        <li><a href="#">image2</a></li>
                        <li><a href="#">image3</a></li>
                    </ul>
                </section><!--//.gal-->
                <section class="baro">
                    <h2>바로가기</h2>
                </section>
            </div>
            <footer class="clearfix">
                <div class="copy">Copyright
                </div>
                  <div class="sns">SNS
                  </div>
                  <div class="fam">Family site</div>
            </footer>
        </div><!--//.contents-->
    </div><!--//.wrap-->
</body></html>