<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout08_style.css" type="text/css">
</head>

<body>
    <div id="wrap">
        <header>
            <div class="container clearfix">
                <h1 href="logo">Logo</h1>
                <nav>
                    <div class="nav_bg"></div>
                    <ul class="gnb clearfix">
                        <li><a href="#">menu1</a>
                            <ul class="sub">
                                <li><a href="#">nnn</a></li>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">vvv</a></li>
                                <li><a href="#">vvv</a></li>
                            </ul>
                        </li>
                        <li><a href="#">menu1</a>
                            <ul class="sub">
                                <li><a href="#">nnn</a></li>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">vvv</a></li>
                                <li><a href="#">vvv</a></li>
                            </ul>
                        </li>
                        <li><a href="#">menu1</a>
                            <ul class="sub">
                                <li><a href="#">nnn</a></li>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">vvv</a></li>
                                <li><a href="#">vvv</a></li>
                            </ul>
                        </li>
                        <li><a href="#">menu1</a>
                            <ul class="sub">
                                <li><a href="#">nnn</a></li>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">vvv</a></li>
                                <li><a href="#">vvv</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="main">image slide</div>

            <div class="contents">
                <section class="not">notice</section>
                <section class="gal">gallery</section>
                <section class="ban">banner</section>
            </div>
        </div>
        <footer>
            <div class="container">
                <h2 class="fam">family</h2>
                <h2 class="menu">해당메뉴</h2>
                <h2 class="cop">Copyright</h2>
            </div>
        </footer>
    </div>
</body></html>