<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style12.css" type="text/css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/script12.js"></script>
</head>
<body>
    <div id="wrap">
        <header>
            <h1>Logo            
            </h1>
            <nav>
                <ul class="gnb clearfix">
                    <li><a href="#">축제소개</a>
                    <ul class="sub">
                        <li><a href="#">Festival소개</a></li>
                        <li><a href="#">행사장 안내</a></li>
                        <li><a href="#">조직위원회</a></li>
                    </ul>
                    </li>
                    <li><a href="#">예약안내</a>
                      <ul class="sub">
                        <li><a href="#">예약하기</a></li>
                        <li><a href="#">예약확인/취소</a></li>
                        <li><a href="#">단체예약문의</a></li>
                    </ul>
                    </li>
                    <li><a href="#">아티스트</a>
                      <ul class="sub">
                        <li><a href="#">고릴라즈</a></li>
                        <li><a href="#">메이저 레이저</a></li>
                        <li><a href="#">아우스게인</a></li>
                        <li><a href="#">타임로드</a></li>
                    </ul>
                    </li>
                    <li><a href="#">커뮤니티</a>
                      <ul class="sub">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">사진갤러리</a></li>
                        <li><a href="#">영상갤러리</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            
        </header>
        <div class="con">
           <div class="main_visual">main
               
           </div>
           <div class="contents">
            <div class="not">
                <h2>공지사항</h2>
                <ul>
                        <li><a href="#">제17회 한국대학교 동문회장배 자선골프대회 안내문... <span>2016-09-12</span></a></li>
                        <li><a href="#">개교 100주년 기념 야외 오페라 '토스카' 축제 초청...<span>2016-09-10</span></a></li>
                        <li><a href="#">동문회장 및 운영위원장 후보자 추천 및 신청받습니... <span>2016-09-09</span></a></li>
                        <li><a href="#">홈커밍데이 진행위원회(정회원) 선발 결과를 알려드... <span>2016-09-07</span></a></li>
                        <li><a href="#">2016년도 제 3차 이사회 및 장학위원회 개최일 변경... <span>2016-09-05</span></a></li>
                        <li><a href="#">9월12일 2016년 한국대학교 동문회 CEO Forum 개최.... <span>2016-08-30</span></a></li>
                    </ul>
            </div> 
            <div class="gal">
                <h2 class="left100">갤러리</h2>
                  <ul class="clearfix">
                        <li><a href="#"><img src="img/gal1.png" alt=""></a></li>
                        <li><a href="#"><img src="img/gal2.png" alt=""></a></li>
                        <li><a href="#"><img src="img/gal3.png" alt=""></a></li>
                    </ul>
            </div>
            <div class="baro">
                <h2>바로가기</h2>
            </div>
                </div>   
            <footer>
                <div class="logo">Logo</div>
                <div class="menu">해당메뉴</div>
                <div class="Copy">Copyright</div>
            </footer>
         </div>
    </div>
</body>
</html>