<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대한퉈</title>
    <link rel="stylesheet" href="css/layout06_style.css" type="text/css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/script06.js"></script>
</head>

<body>
    <header>
        <div class="container clearfix">
            <h1>
                <a href="#">logo</a>
            </h1>
            <nav>
               <div class="nav_bg"></div>
                <ul class="gnb clearfix">
                    <li><a href="#">menu1</a>
                        <ul class="sub">
                            <li><a href="#">동남아/대만</a></li>
                            <li><a href="#">중국/홍콩</a></li>
                            <li><a href="#">유럽/두바이</a></li>
                            <li><a href="#">미주/하와이</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu2</a>
                           <ul class="sub">
                            <li><a href="#">서울/경기권</a></li>
                            <li><a href="#">충청권</a></li>
                            <li><a href="#">전라권</a></li>
                            <li><a href="#">경상/강원권</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu3</a>
                         <ul class="sub">
                            <li><a href="#">버스여행</a></li>
                            <li><a href="#">자유여행</a></li>
                            <li><a href="#">호텔/펜션</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu4</a>
                          <ul class="sub">
                            <li><a href="#">국내 렌터카</a></li>
                            <li><a href="#">국외 렌터카</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div><!--//.container-->
    </header>
    <div class="container">
        <div class="main">
            <ul class="slide">
                <li><a href="#"><img src="img/banner1.png" alt=""></a></li>
                <li><a href="#"><img src="img/banner2.png" alt=""></a></li>
                <li><a href="#"><img src="img/banner3.png" alt=""></a></li>
            </ul>
        </div>
        <div class="contents clearfix">
            <div class="not">notice</div>
            <div class="gal">gallery</div>
            <div class="baru">바로가기</div>
        </div><!--//.contents-->
    </div><!--//.container-->
    <footer>
        <div class="container clearfix">
            <div class="logo">logo</div>
            <div class="menu">해당메뉴</div>
            <div class="copy">copyright</div>
        </div><!--//.container-->
    </footer>
</body></html>