<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유진건설</title>
    <link rel="stylesheet" href="css/youjin_style.css" type="text/css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/script04.js"></script>
</head>

<body>
    <div id="wrap">
        <header>
            <h1><a href="#">유진건설</a></h1>
            <nav>
               <div class="nav_bg"></div>
                <ul class="gnb clearfix">
                    <li><a href="#">회사소개</a>
                        <ul class="sub">
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">조직구성도</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li><a href="#">사업영역</a>
                        <ul class="sub">
                            <li><a href="#">전원주택</a></li>
                            <li><a href="#">도시재생</a></li>
                            <li><a href="#">인테리어</a></li>
                        </ul>
                    </li>
                    <li><a href="#">입주정보</a>
                        <ul class="sub">
                            <li><a href="#">입주단지</a></li>
                            <li><a href="#">입주캘린더</a></li>
                        </ul>
                    </li>
                    <li><a href="#">고객센터</a>
                        <ul class="sub">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">건축상담</a></li>
                            <li><a href="#">홍보자료실</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main">
            <ul class="slide">
                <li><a href="#"><img src="img/banner1.png" alt=""></a></li>
                <li><a href="#"><img src="img/banner2.png" alt=""></a></li>
                <li><a href="#"><img src="img/banner3.png" alt=""></a></li>
            </ul>
        </div>
        <div class="contents">
            <section class="notice">
                <h1>notice</h1>
                <ul>
                    <li><a href="#">제17회 한국대학교 동문회장배 자선골프대회 안내문...     <span>2016-09-12</span></a></li>
                    <li><a href="#">개교 100주년 기념 야외 오페라 '토스카' 축제 초청...     <span>2016-09-10</span></a></li>
                    <li><a href="#">동문회장 및 운영위원장 후보자 추천 및 신청받습니...     <span>2016-09-09</span></a></li>
                    <li><a href="#">홈커밍데이 진행위원회(정회원) 선발 결과를 알려드...     <span>2016-09-07</span></a></li>
                    <li><a href="#">2016년도 제 3차 이사회 및 장학위원회 개최일 변경...     <span>2016-09-05</span></a></li>
                    <li><a href="#">9월12일 2016년 한국대학교 동문회 CEO Forum 개최....     <span>2016-08-30</span></a></li>
                </ul>
            </section>
            <section class="gallery">
                <h1>gallery</h1>
                <ul class="clearfix">
                    <li><a href="#">image1</a></li>
                    <li><a href="#">image2</a></li>
                    <li><a href="#">image3</a></li>
                </ul>
            </section>
            <section class="baru">
                <h1>바로가기</h1>
            </section>
        </div>
        <!--//.contents-->
        <footer>
            <div class="logo">Family site</div>
            <div class="menu">하당 메뉴</div>
            <div class="copy">Copyright &copy; All reserved</div>
        </footer>
    </div>
</body></html>