<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세계의 미술작품</title>
    <link rel="stylesheet" href="css/layout07.css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/script07.js"></script>
</head>
<body>
    <header>
        <div class="container clearfix">
            <h1>
                <a href="#">logo</a>
            </h1>
            <nav>
                <ul class="gnb clearfix">
                    <li><a href="#">menu1</a>
                        <ul class="sub">
                            <li><a href="#">동남아/대만</a></li>
                            <li><a href="#">중국/홍콩</a></li>
                            <li><a href="#">유럽/두바이</a></li>
                            <li><a href="#">미주/하와이</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu2</a>
                        <ul class="sub">
                            <li><a href="#">서울/경기권</a></li>
                            <li><a href="#">충청권</a></li>
                            <li><a href="#">전라권</a></li>
                            <li><a href="#">경상/강원권</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu3</a>
                     <ul class="sub">
                            <li><a href="#">버스여행</a></li>
                            <li><a href="#">자유여행</a></li>
                            <li><a href="#">호텔/펜션</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu4</a>
                         <ul class="sub">
                            <li><a href="#">버스여행</a></li>
                            <li><a href="#">자유여행</a></li>
                            <li><a href="#">호텔/펜션</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div><!--//.container-->
    </header>
    <div class="container">
    <div class="main_visual">image</div>
    <div class="contents">
        <section class="notice">
            <h2>notice</h2>
        </section><!--//.notice-->
        <section class="gallery">
            <h2>gallery</h2>
        </section><!--//.gallery-->
         <section class="banner">
            <h2>banner</h2>
        </section><!--//.banner-->
    </div>
    </div><!--//.container-->
    <footer>
        <div class="container clearfix">
            <div class="logo">logo</div>
            <div class="menu">해당메뉴</div>
            <div class="copy">Copyright &copy; All reserved.</div>
        </div>
    </footer>
</body>
</html>