<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>남도맛기행축제</title>
    <link rel="stylesheet" href="css/style11.css" type="text/css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/script11.js"></script>
</head>

<body>
    <div id="wrap" class="clearfix">
        <header>
            <h1>
                <a href="#">
                    <img src="img/gang.png" alt="남도맛기행축제">
                </a>
            </h1>
            <nav>
                <ul class="gnb">
                    <li><a href="#">협회소개</a>
                        <ul class="sub">
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">명인</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                        <!--//.sub-->
                    </li>
                    <li><a href="#">행사안내</a>
                        <ul class="sub">
                            <li><a href="#">요리경연대회</a></li>
                            <li><a href="#">전시참가</a></li>
                            <li><a href="#">참가신청</a></li>
                        </ul>
                        <!--//.sub-->
                    </li>
                    <li><a href="#">홍보마당</a>
                        <ul class="sub">
                            <li><a href="#">축제소식</a></li>
                            <li><a href="#">보도자료</a></li>
                            <li><a href="#">레시피</a></li>
                        </ul>
                        <!--//.sub-->
                    </li>
                    <li><a href="#">회원마당</a>
                        <ul class="sub">
                            <li><a href="#">Q&amp;A</a></li>
                            <li><a href="#">사진갤러리</a></li>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                        <!--//.sub-->
                    </li>
                </ul>
            </nav>
        </header>
        <div class="con_right">
            <div class="main_visual">

            </div>
            <!--//.main_visual-->
            <div class="contents clearfix">
                <section class="notice">
                    <h2>공지사항</h2>
                    <ul>
                        <li><a href="#">제17회 한국대학교 동문회장배 자선골프대회 안내문... <span>2016-09-12</span></a></li>
                        <li><a href="#">개교 100주년 기념 야외 오페라 '토스카' 축제 초청...<span>2016-09-10</span></a></li>
                        <li><a href="#">동문회장 및 운영위원장 후보자 추천 및 신청받습니... <span>2016-09-09</span></a></li>
                        <li><a href="#">홈커밍데이 진행위원회(정회원) 선발 결과를 알려드... <span>2016-09-07</span></a></li>
                        <li><a href="#">2016년도 제 3차 이사회 및 장학위원회 개최일 변경... <span>2016-09-05</span></a></li>
                        <li><a href="#">9월12일 2016년 한국대학교 동문회 CEO Forum 개최.... <span>2016-08-30</span></a></li>
                    </ul>
                </section>
                <!--//.notice-->
                <section class="gal">
                    <h2>갤러리</h2>
                    <ul class="clearfix">
                        <li><a href="#"><img src="img/gal1.png" alt=""></a></li>
                        <li><a href="#"><img src="img/gal2.png" alt=""></a></li>
                        <li><a href="#"><img src="img/gal3.png" alt=""></a></li>
                    </ul>
                </section>
                <!--//.gal-->
                <div class="sub_banner">

                </div>
                <!--//.sub_banner-->
            </div>
            <!--//.contents-->
            <footer class="clearfix">
                <div class="logo">

                </div>
                <!--//.logo-->
                <div class="f_right">
                    <div class="f_menu">

                    </div>
                    <!--//.f_menu-->
                    <div class="copy">

                    </div>
                    <!--//.copy-->
                </div>
                <!--//.f_right-->
            </footer>
        </div>
        <!--//.con_right-->
    </div>
    <!--//#wrap-->
</body></html>












