<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>slider</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true, // 자동재생
                mode: 'vertical',
                speed: 1000,
                
            });
        });
        
    </script>
    
</head>
<body>
    <div class="slider">
    <div>I am a slide.</div>
    <div>I am another slide.</div>
  </div>
</body>
</html>