<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/test06.css" type="text/css">
</head>
<body>
     <div id="wrap">
    <header>
            header
    </header>
    <div class="main">
        <div>nav</div>
    </div>
    <div class="contents clearfix">
        <div class="con">contents</div>
        <div class="side">contents</div>
    </div>
    <footer>
        <h2>footer</h2>
    </footer>
    </div>
</body>
</html>