<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>test 05</title>
    <link rel="stylesheet" href="css/test05_style.css" type="text/css">
    </head>
<body>
    <div id="wrap">
    <header class="wrap">
        <h1><a href="#">반응형웹</a></h1>
        <nav>
            <ul class="gnb">
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
            </ul>
        </nav>
    </header>
    <div class="contents" "clearfix">
        <section class="con1">
            <h2>content group01</h2>
        </section><!--//.con1-->
        <section class="con2">
             <h2>content group02</h2>
        </section><!--//.con2-->
        <div class="con3">
        <article>
            <h3>important news</h3>
        </article>
        <aside>
            <h3>promotion</h3>
        </aside>
        </div><!--//.con3-->
    </div><!--//.contents-->
    <footer>
        <address>
            경기도 부천시 오정구
        </address>
        <p>
            COPYRIGHT All &copy; rights reserved.
        </p>
    </footer>
    </div><!--//.wrap-->
</body>
</html>