<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>overfloat</title>
    <style type="text/css">
        *{margin: 0; padding: 0;}
        div{
            width: 500px;
            height: 300px;
            background: #aaa;
            overflow: auto;
        }
        p{
            width: 200px;
            height: 200px;
            background: #ccc;
            float: left;
        }
    </style>
</head>
<body>
    <div class="p_box1">
        <p class="box1">box1</p>
        <p class="box2">box2</p>
        <p class="box3">box3</p>
    </div>
   <!-- <div class="p_box2">
        
    </div>
    <div class="p_box3">
        
    </div>-->
</body>
</html>