/*main visual*/

.main_visual {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.main_visual ul.main_slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main_visual ul.main_slide li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main_visual .dot {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.main_visual .dot a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
    float: left;
    margin: 5px;
}

.main_visual .ltgt {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 1200px;
}

.main_visual .ltgt a {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    display: block;
    color: #333;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: 100;
}

.main_visual .ltgt a:nth-child(1) {
    left: 0;
}

.main_visual .ltgt a:nth-child(2) {
    right: 0;
}

.main_visual .dot a.active {
    opacity: 1;
}


section h2 {
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;
    margin: 40px 0;
}

/*best pro*/

.best_product {
    width: 100%;
}

.best_product ul {
    width: 100%;
}

.best_product ul li {
    width: 300px;
    height: 340px;
    float: left;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.best_product ul li a {
    display: block;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.best_product ul li:hover a {
    background: rgba(1, 1, 1, 0.1);
}

.best_product ul li a::after {
    content: "ADD TO CART";
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: underline;
    opacity: 0;
    transition: all .5s;
}

.best_product ul li:hover a::after {
    opacity: 1;
}

.best_product ul li a p,
span {
    padding: 5px;
    font-weight: 300;
}

.best_product ul li a img {
    width: 272px;
}

.hilite {
    width: 100%;
    height: 400px;
    padding: 40px 0 0;
    overflow: hidden;
}

.new_publications {
    width: 100%;
    margin-bottom: 80px;
}

.new_publications ul {
    width: 100%;
}

.new_publications ul li {
    width: 300px;
    height: 340px;
    float: left;
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-bottom: 20px;
}

.new_publications ul li a img {
    width: 270px;
}

/*
.new_publications ul li a {
    display: block;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.new_publications ul li a p,
span {
    padding: 10px;
    font-weight: 400;
}

.new_publications ul li:hover a{
    background: rgba(1,1,1,0.1);
    opacity: 1;
}
*/
.new_publications ul li a {
    display: block;
    width: 100%;
    height: 100%;

}

.new_publications ul li a p {
    margin-bottom: 20px;
}

.new_publications ul li a::before {
    content: "";
    display: block;
    width: 90%;
    height: 270px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: all .5s;
}

.new_publications ul li:hover a::before {
    background: rgba(1, 1, 1, 0.1);
}

/*new mi*/
.new_mi {
    width: 100%;
    margin-bottom: 80px;
}

.new_mi_left {
    width: 744px;
    float: left;
}

.new_mi_right {
    width: 456px;
    float: left;
    box-sizing: border-box;
    padding-left: 70px;
}

.new_mi_right i {
    font-size: 18px;
    color: #aaa;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 80px;
}

.new_mi_right h2 {
    text-align: left;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 10px;
    color: #1d1f22;
}

.new_mi_right p {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 26px;
}

.new_mi_right a {
    border: 1px solid #1d1f22;
    color: #1d1f22;
    font-size: 14px;
    display: block;
    font-weight: 500;
    line-height: 43px;
    width: 140px;
    height: 45px;
    text-align: center;
    margin-top: 43px;
}

/*event4*/
.event4 {
    width: 100%;
    margin-bottom: 80px;
}

.event4 ul {}

.event4 ul li {
    width: 587px;
    height: 310px;
    float: left;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.event4 ul li:nth-child(even) {
    float: right;
}

/*.event4 ul li:nth-child(odd){sondgoi}*/

.event4 ul a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .6s;
}

.event4 ul li:hover a {
    transform: scale(1.1);
}


.more_stores {
    width: 100%;
    margin-bottom: 120px;
}

.more_stores ul {}

.more_stores ul li {
    float: left;
    margin-right: 30px;
}

.more_stores ul li:last-child {
    margin-right: 0;
}

.more_stores ul li a {
    display: block;

}

.more_stores ul li a .img_box {
    width: 380px;
    height: 386px;
    overflow: hidden;
}

.more_stores ul li a .img_box img {
    display: block;
    width: 380px;
    height: 386px;
    transition: all .6s;

}

.more_stores ul li:hover a .img_box img {
    transform: scale(1.2);
    opacity: 0.7;
}

.more_stores ul li a .txt_box {
    text-align: center;
}

.more_stores ul li a .txt_box h3 {
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
}

.more_stores ul li a .txt_box h3 p {
    color: #1c1c1c;
    font-size: 12px;
    line-height: 23px;
}

