* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
}

body {
    color: #333;
}

.claerfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background: #aaa;
}

header h1 {
    width: 200px;
    height: 100px;
    float: left;
}

header nav {
    width: 700px;
    /*height 값은 a한테 줄것임*/
    float: right;
    padding-top: 40px;
    padding-right: 20px;
}

header nav ul.gnb {
    width: 100%;
}

header nav ul.gnb > li {
    width: 25%;
    float: left;
    text-align: center;
}

header nav ul.gnb > li > a {
    display: block;
    background: #555;
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}

header nav ul.gnb > li:last-child > a {
    border-right: 0;
}

header nav ul.gnb > li:hover > a {
    background: red;
}

.main_visual {
    width: 100%;
    height: 300px;
    background: #bbb;
}

.contents {
    width: 100%;
    height: 200px;
}

.contents .notice_gal {
    width: 500px;
    height: 200px;
    float: left;
    position: relative;
}

.contents .notice_gal h2 {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
    background: #111;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 18px;
    z-index: 2;
}

.contents .notice_gal h2.left100 {
    left: 100px;
}
.contents .notice_gal h2.on{border: 1px solid #333; border-bottom: 0; background: #fff; color: #333;}

.contents .notice_gal ul {
    width: 100%;
    height: 164px;
    background: #fff;
    padding: 0 5px;
    box-sizing: border-box;
    margin-right: 20px;
    position: absolute;
    display: none;
    top: 29px;
}

.contents .notice_gal ul.on {
    display: block;
}

.contents .notice_gal ul li {
    font-size: 8px;
    width: 100%;
    height: 27px;
    line-height: 27px;
    box-sizing: border-box;
    position: relative;
}


.contents .notice_gal ul li a {
    display: block;
    border-bottom: 1px solid #111;
}

.contents .notice_gal ul li:hover {
    background: blue;
    color: #fff;
}

.contents .notice_gal ul li a span {
    display: block;
    float: right;
}

.contents .notice_gal ul.gal {
    width: 100%;
}

.contents .notice_gal ul.gal li {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.contents .notice_gal ul.gal li:nth-child(1) {
    background-image: url(..//img/gal1.jpg);
}

.contents .notice_gal ul.gal li:nth-child(2) {
    background-image: url(..//img/gal2.jpg);
}

.contents .notice_gal ul.gal li:nth-child(3) {
    background-image: url(..//img/gal3.jpg);
}

.contents .notice_gal ul.gal li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.contents .banner {
    width: 300px;
    height: 200px;
    float: left;
    background-color: firebrick;
}

.contents .baro {
    width: 400px;
    height: 200px;
    float: left;
    background-color: forestgreen;
}

footer {
    width: 100%;
    height: 100px;
    background: #ddd;
    text-align: center;
}

footer .logo_2 {
    width: 200px;
    height: 100px;
    float: left;
    background-color: dodgerblue;
}

footer .f_menu {
    width: 1000px;
    height: 50px;
    background-color: aquamarine;
    float: left;
    line-height: 50px;
}

footer .copy {
    width: 1000px;
    height: 50px;
    background-color: darkslategrey;
    float: left;
    line-height: 50px;
}
