* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    font-style: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 100px;
    background: #ccc;
}

header h1 {
    width: 200px;
    height: 100px;
    background: red;
    text-align: center;
    line-height: 100px;
    float: left;
}

header nav {
    width: 700px;
    float: right;
    margin-right: 20px;
    margin-top: 60px;
}

header .container {
    position: relative;
}

header nav > ul.gnb {
    width: 100%;
}

header nav > ul.gnb > li {
    width: 25%;
    text-align: center;
    float: left;
    position: relative;
}

header nav > ul.gnb > li > a {
    width: 100%;
    height: 40px;
    display: block;
    background: #111;
    color: red;
    line-height: 40px;
    box-sizing: border-box;
}

header nav > ul.gnb > li:hover > a {
    background: #ddd;
    color: #111;
}

header nav .nav_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 160px;
    background: #111;
    display: none;
}

header nav > ul.gnb > li > ul.sub {
    width: 100%;
    display: none;
}

header nav > ul.gnb > li > ul.sub > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: yellow;
}

header nav > ul.gnb > li > ul.sub > li > a {
    width: 100%;
    display: block;
    height: 40px;
}

header nav > ul.gnb > li > ul.sub > li > a:hover {
    background: #fff;
    color: #111;
}

.main {
    width: 1200px;
    height: 300px;
    background: #ddd;
    line-height: 300px;
    text-align: center;
}

.contents {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.contents .not {
    width: 400px;
    height: 100%;
    background: green;
    float: left;
}

.contents .gal {
    width: 400px;
    height: 100%;
    float: left;
    background: pink;
}

.contents .ban {
    width: 400px;
    height: 100%;
    background: blue;
    float: left;
}

footer {
    width: 100%;
    height: 100px;
    background: #ddd;
    text-align: center;
}

footer .fam {
    width: 200px;
    height: 100px;
    background: yellow;
    float: right;
    line-height: 100px;
}

footer .menu {
    width: 1000px;
    height: 50px;
    background: orange;
    float: left;
    line-height: 50px;
}
