* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #222328;
}

/*layout*/
header {
    width: 200px;
    height: 650px;
    float: left;
    position: relative;
    z-index: 10;
}

header h1 {
    width: 100%;
    padding: 30px 0;
}

header nav {
    width: 180px;
    margin: 0 auto;
}

header nav ul.gnb {
    width: 100%;
}

header nav ul.gnb > li {
    width: 100%;
}

header nav ul.gnb > li > a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom: 0;
}

header nav ul.gnb > li:last-child > a {
    border-bottom: 1px solid #ccc;
}

header nav ul.gnb > li:hover > a {
    background: #ccc;
    color: #fff;
}

header nav ul.gnb > li > ul.sub {
    position: absolute;
    top: 90px;
    left: 190px;
    width: 170px;
    height: 300px;
    background: #333;
    color: #fff;
    text-align: center;
    display: none;
}

header nav ul.gnb > li > ul.sub > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

header nav ul.gnb > li > ul.sub > li > a {
    display: block;
    width: 100%;
    height: 100%;
}
header nav ul.gnb > li > ul.sub > li:hover > a {
    background: #ccc;
}

.con_right {
    width: 800px;
    height: 650px;
    float: left;
}

.con_right .main_visual {
    width: 100%;
    height: 350px;
    background: #ccc;
}

.con_right .contents {
    width: 100%;
    height: 200px;
}

/*350 250 200*/
section h2{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    background: #333;
    border-radius: 10px 10px 0 0;
    color: #fff;
}
.con_right .contents .notice {
    width: 350px;
    height: 200px;
    float: left;
}
.con_right .contents .notice ul{
    font-size: 11px;
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    padding: 0 7px;
    border:1px solid #333;
}
.con_right .contents .notice ul li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.con_right .contents .notice ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.con_right .contents .notice ul li a span{
    font-size: 9px;
    position: absolute;
    right: 0;
    top: 0;
}
.con_right .contents .gal {
    width: 250px;
    height: 200px;
    float: left;
}
.con_right .contents .gal ul{
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    border:1px solid #333;
    border-left: 0;
    padding: 50px 0;
}
.con_right .contents .gal ul li{float: left;
margin-left: 10px;
}
.con_right .contents .gal ul li a{}
.con_right .contents .gal ul li a img{
    width: 70px;
}
.con_right .contents .sub_banner {
    width: 200px;
    height: 200px;
    background: green;
    float: left;
}

.con_right footer {
    width: 100%;
    height: 100px;
    background: #eee;
}

.con_right footer .logo {
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    float: left;

}

.con_right footer .f_right {
    width: 600px;
    height: 100px;
    background-color: aqua;
    float: left;
}

.con_right footer .f_right .f_menu {
    width: 100%;
    height: 50px;
    background-color: fuchsia;
}

.con_right footer .f_right .copy {
    width: 100%;
    height: 50px;
    background-color: forestgreen;
}
