/*reset*/
* {
    margin: 0;
    padding: 0;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: blueviolet;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 1200px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100px;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #ddd;
    line-height: 100px;
}
.con{
    width: 100%;
    height: 500px;
    background-color: chocolate; 
    line-height: 500px;
}
.con aside{
    width: 400px; 
    height: 500px;
    background-color: crimson;
    float: left;
}
.con .contents{
    width: 800px;
    height: 500px;
    background-color: darkblue;
    float: left;
}
.con .contents h2{
    font-size: 30px;
    font-weight: normal;
}
footer{
    width: 100%;
    height: 100px;
    background-color: darkgreen;
    line-height: 100px;
    font-weight: normal;
}
